In [2]:
#Q1. write a program in python to print the following pattern
#(a)
for i in range(2,7):
        for j in range(1,i):
            print(j,end=" ")
        print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
#(b)
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [8]:
#(c)

for i in range(5,0,-1):
    for j in range(0,i):
        print(i, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [5]:
#(d)
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [8]:
#(e)
for i in range(1,6,):
    for j in range(0,i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [9]:
#(f)
for i in range(5,0,-1):
    for j in range(i,6):
        print(i, end=" ")
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [10]:
#(g)
for i in range(4,-1,-1):
    for j in range(5,i,-1):
        print(j, end=" ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [10]:
#(h)
for i in range(0,5):
    for j in range(5-i-1):
        print(" " ,end=" ")
    for j in range(i+1):
        print(j+1, end=" ")
    print()

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [11]:
#(i)
for i in range(0,5):
    for j in range(5-i-1):
        print(" " ,end=" ")
    for j in range(i+1):
        print(i+1, end=" ")
    print()

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [26]:
#(j)
for i in range(5):
    for j in range(5-i-1):
        print(" ", end=" ")
    for j in range(i+1,0,-1):
        print(j, end=" ")
    print()

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [5]:
#(k)
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [14]:
#(l)
k=0
for i in range(1,4): 
    for j in range(0,i):
        k += 1;
        print(k,end = " ")
    print()

1
2 3
4 5 6

In [15]:
#(m)
k = 0
for i in range (1,5):
    for j in range(0,i,):
        k += 1;
        print(k,end = " ")
    print()

1
2 3
4 5 6
7 8 9 10

In [25]:
#(n)
for i in range(5):
    for j in range(0, i+1):
        print(j*i, end = " ")
    print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16

In [10]:
#(o)
for i  in range(1,6):
    for j in range(0,i):
        print(j**2, end = " ")
    print()

0
0 1
0 1 4
0 1 4 9
0 1 4 9 16

In [12]:
#(p)
for i in range(0,6):
    for j in range(0,i):
        print(i**2, end=" ")
    print()

1
4 4
9 9 9
16 16 16 16
25 25 25 25 25

In [12]:
#(q)
for i in range(1,6): 
    for j in range(1,i+1):
        print(i*2-1,end=" ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [19]:
#(r)
for i in range(0,5):
    for j in range(0,i+1):
        print("*", end="  ")
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [20]:
#(s)
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [21]:
#(t)
for i in range(5,0,-1):
    for j in range(i,1,-1):
        print(" ", end=" ")
    for j in range(i,6):
        print("*", end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [15]:
#(u)
for i in range(6):
    for j in range(1,6):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [18]:
#(v)
for i in range(1,6):
    for j in range(1,6):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [19]:
#(w)
str= " A B C D E"
for i in range(1,6):
    print(str[ :i*2])

 A
 A B
 A B C
 A B C D
 A B C D E

In [20]:
#(x) 
str = "ABCDE"
for i in range(5):
    print(str[i]*(i+1))

A
BB
CCC
DDDD
EEEEE

In [22]:
#(y)
num = 5
for i in range (1,num+1):
    sp = (num-i)* "  "
    print(sp, end = "  ")
    for k in range(i,1,-1):
        print("*", end =" ")
    for j in range(1,i+1):
        print("*", end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [23]:
#(z)(a):
str = "python"
for i in range(len(str)+1):
    for j in range(i):
        print(str[j], end = " ")
    print()

p
p y
p y t
p y t h
p y t h o
p y t h o n

In [24]:
#(b)
num = 5
for i in range(1,num+1):
    sp = (num-i)* " "
    print(sp, end=" ")
    for k in range(i,1,-1):
        print(i,end = " ")
    for j in range(1,i+1):
        print(i,end = " ")
    print()

     1
    2 2 2
   3 3 3 3 3
  4 4 4 4 4 4 4
 5 5 5 5 5 5 5 5 5